:root{
    --text-color: rgb(0,0,0)
}


.btn1{
    background: transparent;
    font-size: 30px;
}

h1{
    color: var(--text-color);
}
body{
    background: url(Glass.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}